body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, 
.part1 {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.button1 {
    background-color: #3882f6;
    color: #F9FAF8;
}

.info-header{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}

.part1 {
    height: 300px;
}

.part2 {

}

.part3 {
    background-color: #e5e7eb;
    height: 275px;
}

.part4 {
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    
}

.pic {

}

.pics {
    display: flex;
}

.cta,
.button2 {
    background-color: #3882f6;
    color: #F9FAF8;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 24px;
    display: flex;
    justify-content: center;
}

.cta {
    width: 800px;
    height: 100px;
}


